body {
    display: flex;
    flex-direction: column;
}

.header, .footer, .one {
    background-color: #1F2937;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 600px;
}

.logo {
    color: #F9FAF8;
    font-size: 24px;
    margin: 16px 0;
}

.links {
    display: flex;
    gap: 15px;
    padding: 0;
    margin: 0;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    font-size: 18px;
    color: #E5E7EB;
}

/* .content {
    flex: 1;
} */

.one {
    padding: 150px 600px;
    display: flex;
    gap: 50px;
    justify-content: space-between;
}

.hero-text {
    flex: 1 1 0px;
}

.main-text {
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
    margin-bottom: 5px;
}

.secondary-text {
    font-size: 18px;
    color: #E5E7EB;
    margin-bottom: 10px;
}

.image {
    background-color: #6d747d;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #E5E7EB;
    padding: 100px;
    flex: 1 1 0px;
}